<section class="thirteen columns">
    <h1>Education</h1>
    <article>
        <header>
            <h1>M.S. Electrical Engineering</h1>
            <span>Columbia University</span>
            <span><address>New York, NY</address><time>2010 to 2012</time></span>
        </header>
        <p>
            Research projects included performant neural network modelling using GPUs, 
            out of domain degradation in statistical machine translation.
        </p>
    </article>
    <article>
        <header>
            <h1>Major in Physics</h1>
            <span>Yale University</span>
            <span><address>New Haven, CT</address><time>2002 to 2007</time></span>
        </header>
        <p>
            <em>Research in Atomic, Molecular & Optical physics.</em>
        </p>
    </article>
</section>
