<section class="thirteen columns">
    <h1>Employment</h1>
    <article>
        <header>
            <h1>Innovation Specialist</h1>
            <span><strong>18F</strong></stong><address>Chicago, IL</address><time>2015 to Present</time></span>
        </header>
        <p>Writing code to disrupt how the US government operates.</p>
    </article>
    <article>
        <header>
            <h1>Senior Software Engineer</h1>
            <span><address>Chicago, IL</address><time>2013 to 2015</time></span>
        </header>
        <p>Enterprise software development, business rules engine research and implementation, 
        started natural language processing group.</p>
    </article>
    <article>
        <header>
            <h1>Independent Consultant</h1>
            <span><address>New Haven, CT & Chicago, IL</address><time>2013 to 2015</time></span>
        </header>
        <p>Wrote & deployed ML model to predict domain name profitability, research into big data messaging platoforms.</p>
    </article>
    <article>
        <header>
            <h1>Chief Technology Officer</h1>
            <span><address>Greenwich, CT</address><time>2013</time></span>
        </header>
        <p>Machine learning for weather prediction.</p>
    </article>
    <article>
        <header>
            <h1>Research Assistent</h1>
            <span><address>New York, NY</address><time>2011 to 2012</time></span>
        </header>
        <p> Wrote code to implement Fast Carbon Footprinting, a new method of extracting product-level 
        carbon footprints en masse from supply chain data.
        </p>
    </article>
    <article>
        <header>
            <h1>Instrumentation Engineer</h1>
            <span><address>San Jose, CA</address><time>2007 to 2010</time></span>
        </header>
        <p> Designed & built precision instrumentation and production equipment, also analyzed & modelled 
        physical processes and reasons for efficiency variation.
        </p>
    </article>
</section>
