<section class="thirteen columns">
    <h1>Employment</h1>
    <article>
        <header>
            <h1>Innovation Specialist</h1>
            <span><address>18F, Chicago, IL</address><time>2015 to Present</time></span>
        </header>
        <p>Building the 21st century digital government.</p>
    </article>
    <article>
        <header>
            <h1>Senior Software Engineer</h1>
            <span><address>ZS Associates, Evanston, IL</address><time>2013 to 2015</time></span>
        </header>
        <p>Enterprise software development, business rules engine research and implementation, 
        started natural language processing group.</p>
    </article>
    <article>
        <header>
            <h1>Independent Consultant</h1>
            <span><address>New Haven, CT & Chicago, IL</address><time>2013 to 2015</time></span>
        </header>
        <p>Wrote & deployed ML model to predict domain name profitability, research into big data messaging platforms.</p>
    </article>
    <article>
        <header>
            <h1>Chief Technology Officer</h1>
            <span><address>Index Companies, Greenwich, CT</address><time>2013</time></span>
        </header>
        <p>Machine learning for hurricane forecasting.</p>
    </article>
    <article>
        <header>
            <h1>Research Assistant</h1>
            <span><address>Columbia University, New York, NY</address><time>2011 to 2012</time></span>
        </header>
        <p> Wrote code to implement Fast Carbon Footprinting, a new method of extracting product-level 
        carbon footprints en masse from supply chain data. Contributing author on 
        <em><a href="http://onlinelibrary.wiley.com/doi/10.1111/jiec.12182/abstract">this</a></em> paper describing our work.
        </p>
    </article>
    <article>
        <header>
            <h1>Instrumentation Engineer</h1>
            <span><address>Nanosolar, Inc., San Jose, CA</address><time>2007 to 2010</time></span>
        </header>
        <p> Designed & built precision instrumentation and production equipment, also analyzed & modelled 
        physical processes and analyzed reasons for efficiency variation. Patents for 
        <em><a href="http://www.google.com/patents/US20110000528?printsec=abstract&dq=anthony+garvan#v=onepage&q=anthony%20garvan&f=false">
            improving solar cell reliability
        </a></em> and <em><a href="https://www.google.com/patents/US8637401?dq=anthony+garvan&hl=en&sa=X&ved=0ahUKEwiHtNqp94bMAhUFTCYKHa4GBQ0Q6AEIIzAB">
            high speed solar cell manufacturing.
        </a></em>
        </p>
    </article>
</section>
